.add-modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-modal__content {
  position: fixed;
  left: calc(50% - 286px);
  top: 100px;
  background-color: white;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 10px;
  padding: 30px;
}

.add-modal__header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.add-modal__close:hover {
  cursor: pointer;
}

.add-modal__title {
  font-weight: bold;
  font-size: 16px;
}

.add-modal__form {
  display: flex;
  gap: 25px;
  margin-bottom: 10px;
}

.add-modal__name {
  border-bottom: 1px solid rgb(189, 184, 184);
}

.add-modal__surname {
  border-bottom: 1px solid rgb(189, 184, 184);
}

.add-modal__phone {
  width: 200px;
  border-bottom: 1px solid rgb(189, 184, 184);
}

@media (max-width: 767.98px) {
  .add-modal__form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .add-modal__content {
    top: 50px;
    left: calc(50% - 181px);
  }
  .add-modal__phone,
  .add-modal__surname,
  .add-modal__name {
    width: 300px;
  }
  .add-modal__button {
    margin-bottom: 10px;
  }
  #addErrorMessage {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .add-modal__content {
    top: 50px;
    left: calc(50% - 121px);
    padding: 20px;
  }
  .add-modal__phone,
  .add-modal__surname,
  .add-modal__name {
    width: 200px;
  }
}
